  {% load static %}
  <!-- Sidebar -->
  <ul class="navbar-nav sidebar side-nav sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-text mx-3"><img src="{% static 'admin_dashboard/images/green-logo.png' %}" class="mt-5"/></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
          <a class="nav-link" href="#">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
      </li>

      <!--Nav Item - Users -->
      <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_dashboard:users_list' %}">
              <i class="fa-solid fa-wallet"></i>
              <span>Users</span>
          </a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-wallet"></i>
              <span>Wallet</span>
          </a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-coins"></i>
              <span>Transaction</span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-address-card"></i>
              <span>Post</span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-image"></i>
              <span>My Photos</span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-headset"></i>
              <span>Help & Support</span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-shield-halved"></i>
              <span>Privacy Policy</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>Logout</span></a>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

      

  </ul>
  <!-- End of Sidebar -->