{% extends 'service_provider/base.html' %}
{% load static %}

{% block s_vendor_content %}

<main class="   ">
    <div class=container>
    <h4>All Blogs</h4>
        <div class="vstack ">
            <div class="d-md-flex justify-content-between align-items-baseline ">
                <form class="my-3 " action="{% url 'blogs:sp_blog_search' %}" method="post">
                        {% csrf_token %}
                    <div class="hstack gap-2">
                        <select style="width: 6rem;" name="filter_by" class="form-select form-select1 form-control" aria-label="Default select example">
                            <option value="all">All</option>
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                        </select>
                        <span  class="input-group ">
                            <input type="text" name="query" placeholder="Search Here" class="form-control form-select1" required />
                            <button type="submit" class="input-group-text form-select1" id="table_BTN" style="height: 36px;"><i class='fa fa-search'  ></i></button>
                        </span>
                    </div>
                </form>
                <div class="">
                    <a href="{% url 'blogs:sp_blog_add' %}"  id="table_BTN">
                        <i class='fa fa-plus-square'></i> Create a New Blog
                    </a>
                </div>
            </div>

            <div class="tablecard">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th class="" id="tb-head" scope="col">Blog ID</th>
                                <th class="" id="tb-head" scope="col">Blog Title</th>
                                <th class="" id="tb-head" scope="col">Blog Author</th>
                                <th class="" id="tb-head" scope="col">Action</th>
                                <th class="" id="tb-head" scope="col">Status</th>
                            </tr>
                        </thead>
                        {% if blog_list %}
                            <tbody id="test_table_tbody">
                                {% for blog in blog_list %}
                                <tr>
                                    <td class="tb-body">
                                        <a class="text-heading text-primary-hover font-semibold"
                                                href="{% url 'blogs:sp_blog_update' blog.id %}">
                                                {{ blog.id }}
                                            </a>
                                    </td>
                                    <td class="tb-body">{{ blog.title |truncatewords:8 }}</td>
                                    <td class="tb-body">{{ blog.author }}</td>
                                    <td class="tb-body">
                                        <div class="d-flex flex-column flex-md-row">
                                            <a href="{% url 'blogs:sp_blog_update' blog.id %}" class="me-md-2 mb-1 mb-md-0" id="table_BTN">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <a href="{% url 'blogs:sp_blog_delete' blog.id %}" id="table_BTN2" onclick="return confirm('Do you want to delete this blog ?')">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                    
                                    {% if blog.is_accepted == "approved" %}
                                        <td class="tb-body text-success">Approved</td>
                                    {% elif blog.is_accepted == "rejected" %}
                                        <td class="tb-body text-danger">Rejected</td>
                                    {% else %}
                                        <td class="tb-body text-warning">Pending</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr>
                                    <td colspan="5" class="text-center fw-bold text-secondary">
                                        No Blogs Available.
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock s_vendor_content %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function delete_blog(element){
        var blog_title = element.getAttribute('p_title');
        var blog_id = element.getAttribute('p_id');
        
        var target = document.getElementById('blog_delete_title');
        target.innerHTML = "<p>Blog Title : <b>"+blog_title+"</b> ("+blog_id+")</p>";

        var delete_url = '/blog/sp_blog_delete/'+blog_id+'';
        document.getElementById('confirm_delete_btn').setAttribute('href', delete_url);

        var myModal = new bootstrap.Modal(document.getElementById('blog_delete'));
        myModal.show();
    }
</script>
{% endblock script %}