

.side-nav{
    background-color: #1F782B!important;
}
.sidebar-brand{
    background-color: #fff;
}
.fa-bell{
    color: #81CC2A;
}

.sidebar-dark .nav-item ul{
    background-color: #1F782B;
    border-radius: 4px;
}
.sidebar-dark .nav-item .nav-link{
  
    color: #fff;
    font-weight: 600;
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
    background-color: #14453B;
}
.sidebar-dark .nav-item.active .nav-link i{
    color: #FFD600;
}
.sidebar-dark .nav-item .nav-link i{
    color: #FFD600;
    font-weight: 600;
}

.card-header{
    background-color: #1F782B;
    color: white;
}
.card-header a{
    color: white !important;
}

.dash-card1 {
    background-color: #2544cf9a; /* Fallback background color */
    background-image: url(../images/card1.jpeg); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-blend-mode: multiply; /* Blends the color with the image */
    color: white;
    
}

.dash-card2{
    background-color: #15a08483;
    background-image: url(../images/card2.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: multiply; 
    color: white;
}

.dash-card3{
    background-color: #f39d1368;
    background-image: url(../images/card3.jpeg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: multiply; 
    color: white;
}
.dash-card4{
    background-color: #7c51f460;
    background-image: url(../images/card4);
    background-size: cover; 
    background-position: center;
    background-blend-mode: multiply; 
    color: white;
}
.dash-card5{
    background-color: #297fb978;
    background-image: url(../images/card5.jpeg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: multiply; 
    color: white;
}
.dash-card6{
    background-color: #f5090977;
    background-image: url(../images/card6.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: multiply; 
    color: white;
}
.dash-card7{
    background-color: #8d44adb6;
    background-image: url(../images/card7.jpeg);
    background-size: cover; 
    background-position: center;
    background-blend-mode:multiply; 
    color: white;
}
.dash-card8{
    background-color: #f46d88a3;
    background-image: url(../images/card8);
    background-size: cover; 
    background-position: center;
    background-blend-mode:multiply; 
    color: white;
}
.dash-card9{
    background-color: #8af46d3c;
    background-image: url(../images/card9.webp);
    background-size: cover; 
    background-position: center;
    background-blend-mode:multiply; 
    color: white;
}
.dash-card10{
    background-color: #6df0f43c;
    background-image: url(../images/card10.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode:multiply; 
    color: white;
}
.dash-card11{
    background-color: #f46df43c;
    background-image: url(../images/card11.jpeg);
    background-size: cover; 
    background-position: center;
    background-blend-mode:multiply; 
    color: white;
}
.dash-card12{
    background-color: #ea44813c;
    background-image: url(../images/card12.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode:multiply; 
    color: white;
}
.dash-card13{
    background-color: #eace44a6;
    background-image: url(../images/card13.jpeg);
    background-size: cover; 
    background-position: center;
    background-blend-mode:multiply; 
    color: white;
}
.Adm_das_card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* admin_dash - User Dashboard */
.admin_dash .search_sec{
    width: 37%;
    float: right;
}
.admin_dash .search_sec .table_search_box{
    display: flex;
}
.admin_dash .search_sec .table_search_box .selects{
    margin-right:12px;
}

.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 7px;
    padding: 3px 5px ;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.form-control:focus {
    border-bottom-color: #37af2c;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 
.qry-sub{
    border-radius: 0 4px 4px 2px;
    height: 37px !important;
    padding: 0 12px;
}
.qry-sub i{
    counter-reset: #1f782b;
    
}
.new-user-btn{
    background-color: #14453B;
    border: 1px solid;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 0px;
    padding: 16px 30px;
    font-weight: 600;
}

.table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
    border-color: #fbfcfd;
    background-color: #1f782b;
    font-size: 12px !important;
    color: #fff;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    padding: 33px 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin_dash .search_sec {
    width: 37%;
    float: right;
    margin-bottom: 2rem;
}
.table td, .table th {
    padding: 13px;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}
.page-wapper{
    height: 100vh;
}
.add-new-title{
    color: #000;
    font-weight: 600;
}

.qry-sub{
    background-color: #1f782b;
}
.qry-sub:hover{
    background-color: #008000;
}

.qry-sub i {
    color: #fff;
}
#table_BTN{

    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #008000;
    color: white;
    background-color: #008000;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#table_BTN:hover{
    text-decoration: none;
    background: rgb(5,131,47);
    background: linear-gradient(344deg, rgba(5,131,47,1) 14%, rgba(4,99,19,1) 52%, rgba(6,175,27,1) 100%);
    color: #fff !important;
    transition: 0.5rem;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.table_BTN{

    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #008000;
    color: white;
    background-color: #008000;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.table_BTN:hover{
    text-decoration: none;
    background: rgb(5,131,47);
    background: linear-gradient(344deg, rgba(5,131,47,1) 14%, rgba(4,99,19,1) 52%, rgba(6,175,27,1) 100%);
    color: #fff !important;
    transition: 0.5rem;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
#table_BTN2{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #e42918;
    color: white;
    background-color: #e42918;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  #table_BTN2:hover{
    background: rgb(215, 6, 26);
    background: linear-gradient(344deg, rgb(215, 6, 26) 14%, rgb(166, 8, 6) 52%, rgb(224, 15, 8) 100%);
    color: #fff !important;
    transition: 0.5rem;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  #table_BTN3{
    padding: 5px 10px;
    border-radius:0 5px 5px 0;
    cursor: pointer;
    background: transparent;
    border: 1px solid #008000;
    color: white;
    background-color: #008000;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
  #t_daTa{
    font-size: 12px;
}
.modal-header{
    background-color: #008000;
    color: white;
}
.my_fav_shadow_card{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

