{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Gardening Profile{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 border border-bottom-success border-left-success px-0 py-0" style="background-image: url('{{ garden_profile_obj.garden_image.url }}'); background-size: cover; background-repeat: no-repeat;">
            <div class="text-center" style="background-color: rgba(255, 255, 255, 0.3);">
                {% if user.user_image %}
                  <img src="{{user.user_image.url}}"
                  class="rounded-circle img-fluid" style="width: 100px;" />
                  
                {% else %}
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  class="rounded-circle img-fluid" style="width: 100px;" />
                {% endif %}
                
                <h2 class="mt-3 bg-success text-white">{{garden_profile_obj.user.full_name}}</h2>
                <p class="text-white bg-success">@ {{garden_profile_obj.user}}</p>
                <div class="profile-details bg-success text-white">
                    <p><strong>Garden Area:</strong> {{garden_profile_obj.garden_area}} sqft</p>
                    <p><strong>Number of Plants:</strong> {{garden_profile_obj.number_of_plants}}</p>
                    <p><strong>Number of Unique Plants:</strong> {{garden_profile_obj.number_of_unique_plants}}</p>
                </div>
                <a href="{% url 'user_dashboard:gardeningprofileupdate' %}" class="btn btn-success btn-lg mt-3">Edit Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}