{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<style>
  
</style>
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row my-4  ">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="card index-card shadow py-2 dash-card1" style="height: 9rem;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-8">
                            <div class="h5 mb-0 font-weight-bold text-white">{{ garden_obj.number_of_plants }}</div>
                            <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">
                                Total plants
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <i class="fa-solid fa-tree fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="card index-card shadow  py-2 dash-card2" style="height: 9rem;" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-8">
                            <div class="h5 mb-0 font-weight-bold text-white">{{garden_obj.garden_area}} sqr.ft.</div>
                            <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">
                                Total Gardening area
                            </div>

                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <img src="{% static 'user_dashboard\img\n.png' %}" class="text-info" alt=""
                                style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="card index-card  shadow  py-2 dash-card3" style="height: 9rem;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-white">
                                <i class="fas fa-donate fa-trophy"></i>
                                {{rank}}
                            </div>
                            <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">My Ranking
                            </div>

                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-trophy fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6  col-lg-3">
            <div class="card index-card  shadow  py-2 dash-card4" style="height: 9rem;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-white">Balance</div>
                            <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">
                               <!-- <img src="{% static 'user_dashboard/images/coin.png' %}"> -->{{request.user.wallet}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-coins fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr style="border: 2px solid gray;" >

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-6 mb-4 col-md-12 col-sm-12">
            <div class="card leaderbaord mb-4">
                <main>
                    <div id="leaderboardheader">
                        <p class="fw-bold pt-3" style="font-size: 25px; color: black;">Leader Board</p>

                        <div class="filter-container">
                            <select id="city-filter" class="form-select">
                                <option value="all">All</option>
                                <option value="Bhubaneswar">Bhubaneswar</option>
                                <option value="Cuttack">Cuttack</option>
                                <option value="Brahmapur">Brahmapur</option>
                                <option value="Puri">Puri</option>
                                <option value="Balasore">Balasore</option>
                            </select>
                        </div>
                    </div>
                    <div id="leaderboard">
                        <table  class="" >
                            {% for leader_user in users_orderby_coins %}
                            <tr data-rank="" data-city="{{ leader_user.city }}" class="leaderRow ltr">
                                <td class="number lc" style="font-size: x-large;">
                                    {{ forloop.counter }}
                                </td>
                                <td class="name lc">{{ leader_user.full_name }}</td>
                                <td class="points lc">
                                    {{ leader_user.coins }}
                                    {% if forloop.first %}
                                    🏅 
                                    {% endif %} 
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-6 mb-4 col-md-12 col-sm-12">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card card-info">
                    <div class="card-header  d-flex justify-content-between align-items-center py-3">
                        <h4 class="card-title">My Activity</h4>
                    </div>
                    <div class="card-body">
                        <div style="height: 220px;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->
</div>
{% endblock content %}

{% block scripts %}
<script>
    const users_name = {{ users_name|safe }};
    const u_coins = {{ u_coins|safe }};
    
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: users_name,
            datasets: [{
                label: 'Points',
                data: u_coins,
                backgroundColor: 'rgba(0,191,131)', // Green color with 20% opacity
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        display: false
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });    
</script>
{% endblock scripts %}