{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 dash-card1">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-white">{{garden_obj.number_of_plants}}</div>
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">
                            Total plants</div>

                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-tree fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2 dash-card2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-white">{{garden_obj.garden_area}} sqr.ft.</div>
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">
                            Total Gardening area
                        </div>

                    </div>
                    <div class="col-auto">
                        <img src="{% static 'user_dashboard\img\n.png' %}" class="text-info" alt=""
                            style="height: 40px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2 dash-card3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-white">
                            <i class="fas fa-donate fa-trophy"></i>
                            {{rank}}
                        </div>
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">My Ranking
                        </div>

                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-trophy fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 dash-card5">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-white">Balance</div>
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1 mt-3">
                            <img src="{% static 'user_dashboard/images/coin.png' %}">{{request.user.wallet}}
                        </div>

                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-coins fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4 col-md-12">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        My Activity</h6>
                </div>
                <div class="card-body">
                    <img src="{% static 'user_dashboard/images/line-charts.png' %}" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4 col-md-12">
            <div class="card leaderbaord mb-4">
                <main>
                    <div id="leaderboardheader">
                        <p class="fw-bold" style="font-size: xx-large; color: black;">Leader Board</p>
                        <!-- <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="cityDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Select City
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="cityDropdown">
                                <li><a class="dropdown-item" href="#" onclick="filterLeaderboard('Bhubaneswar')">Bhubaneswar</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="filterLeaderboard('Cuttack')">Cuttack</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="filterLeaderboard('Brahmapur')">Brahmapur</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="filterLeaderboard('Puri')">Puri</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="filterLeaderboard('Balasore')">Balasore</a>
                                </li>
                            </ul>
                        </div> -->
                        <div class="filter-container">
                            <select id="city-filter">
                                <option value="all">All</option>
                                <option value="Bhubaneswar">Bhubaneswar</option>
                                <option value="Cuttack">Cuttack</option>
                                <option value="Brahmapur">Brahmapur</option>
                                <option value="Puri">Puri</option>
                                <option value="Balasore">Balasore</option>
                            </select>
                        </div>
                    </div>
                    <div id="leaderboard">
                        <div class="ribbon"></div>
                        <table>
                            {% for leader_user in users_orderby_coins %}
                            <tr data-city="{{ leader_user.city }}" class="leaderRow">
                                <td class="number" style="font-size: x-large;">{{forloop.counter}}</td>
                                <td class="name">{{leader_user.full_name}}</td>
                                <td class="points">
                                    {{leader_user.coins}}
                                    {% if forloop.first %}
                                    <img class="gold-medal"
                                        src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true"
                                        alt="gold medal" />
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </main>
            </div>
        </div>
        {% endblock content %}
        <script>
            // JavaScript for filtering leaderboard based on selected city
            document.getElementById('city-filter').addEventListener('change', function() {
                var selectedCity = this.value;
                var rows = document.querySelectorAll('.leaderRow');
    
                // Show or hide rows based on the selected city
                rows.forEach(function(row) {
                    var rowCity = row.getAttribute('data-city');
                    if (selectedCity === 'all' || rowCity === selectedCity) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        </script>