{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Sell Produce{% endblock title %}

{% block content %}
<style>
  

</style>
    <div class="page-wapper" >
        <h3 class="add-new-title text-sm text-success pt-3">Produce / Produce Sell</h3>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-lg-6 col-md-6 sell_wrapper  p-5 ">
                <form method="post" action="" enctype="multipart/form-data" class="">
                    {% include 'app_common/snippets/alert.html' %}
                    {% csrf_token %}
                    {{form.as_p}}
                    
                    <div style="text-align: center;margin-top: 2rem;">
                        <button class="my-button" id="button" type="submit">Sell Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}