{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Service List{% endblock title %}

{% block content %}
<head>
    <head>
        <link rel="stylesheet" href="{% static '/user_dashboard/css/services.css '%}">
      </head>
 </head>
<h2>Service Details - {{ service.name }}</h2>
<div class="row d-flex justify-content-center  mt-4">
    <div class="col-lg-8 details_div px-5 py-4">
        <p><strong>Provider:</strong> {{ service.provider.full_name }}</p>
    <p><strong>Description:</strong> {{ service.description }}</p>
    <p><strong>Price/hour:</strong> Rs. {{ service.price_per_hour }}</p>
    {% if service_booked_obj %}
        <a href="" class="btn btn-primary disabled">Already Booked</a>
    {% else %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="booking_date" class=" control-label">Booking Date</label>
                <div class="">
                    {{ form.booking_date }}
                </div>
            </div>
            <div class="form-group">
                <div class=" ">
                    <button type="submit" class="details_btn">Book Service</button>
                </div>
            </div>
        </form>
    {% endif %}
    {% endblock content %}
    </div>
</div>