{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}User Profile{% endblock title %}

{% block content %}
<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 w-100">
      <div class="col-md-12 col-xl-12">

        <div class="card text-success" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              {% if user.user_image %}
              <img src="{{user.user_image.url}}" class="rounded-circle img-fluid" style="width: 100px;" />

              {% else %}
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                class="rounded-circle img-fluid" style="width: 100px;" />
              {% endif %}

            </div>
            <h4 class="mb-2">{{user.full_name}}</h4>
            <p class="text-success mb-2">
              <span>{{user.email}}</span><span class="mx-2">|</span><span>{{user.contact}}</span>
            </p>
            <p class="text-success">{{user.city}}</p>

            <div class="mb-4 pb-2">
              <a href="{{user.facebook_link}}">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </button>
              </a>
              <a href="{{user.instagram_link}}">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-instagram fa-lg"></i>
                </button>
              </a>
              <a href="{{user.twitter_link}}">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-twitter fa-lg"></i>
                </button>
              </a>
              <a href="{{user.youtube_link}}">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-youtube fa-lg"></i> <!-- YouTube -->
                </button>
              </a>
            </div>

            <a href="{% url 'user_dashboard:userprofileupdate' %}">
              <button type="button" class="btn btn-success btn-rounded btn-lg">
                Edit Details
              </button>
            </a>

            <a href="{% url 'user_dashboard:gardeningprofile' %}">
              <button type="button" class="btn btn-success btn-rounded btn-lg">
                Gardening Details
              </button>
            </a>

            <div class="d-flex justify-content-between text-center mt-5 mb-2">
              <div>
                <p class="mb-2 h5">{{user.wallet}}</p>
                <p class="text-success mb-0">Wallets Balance</p>
              </div>
              <div>
                <p class="mb-2 h5">{{user.coins}}</p>
                <p class="text-success mb-0">Total Coins</p>
              </div>
              <div class="px-3">
                <p class="mb-2 h5">{{user.total_income}}</p>
                <p class="text-success mb-0">Income amounts</p>
              </div>
              <div>
                <p class="mb-2 h5">{{user.total_invest}}</p>
                <p class="text-success mb-0">Total Purchase Ammount</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock content %}