{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Wallet Page{% endblock title %}

{% block content %}
<!-- <div class="container">
    <div class="d-flex justify-content-between">
      <div class="" style="font-weight: bolder; font-size: larger;">
        My Wallet Balance
      </div>
      <div>
        <i class="fa-solid fa-coins fa-2x text-success"></i> <span class="mx-2 text-success" style="font-weight: bold;">{{request.user.wallet}}</span>
      </div>
    </div>
</div> -->
<section class="main">
  <div class="main-top">
    <h1>My Wallet</h1>
  </div>
  <div class="users d-flex justify-content-between">
    <div class="card bg-success text-white">
      <h4>Total Balance</h4>
      <p><i class="fa-solid fa-coins fa-2x"></i> <span class="mx-2"
          style="font-weight: bold;">{{request.user.wallet}}</span></p>
    </div>
    <div class="card bg-warning text-white">
      <h4>Total Purchase</h4>
      <p>Progammer</p>
    </div>
    <div class="card bg-info text-white">
      <h4>Total Earnings</h4>
      <p>tester</p>
    </div>
  </div>

  <section class="main">
    <div class="main-top">
      <h1>Transactions</h1>
    </div>
    <table class="table">
      <thead>
        <tr style="color: black;">
          <th>Product Name</th>
          <th>Ammount</th>
          <th>Date</th>
          <th>Time</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for key,value in dict_transaction.items %}
          <tr style="color: black;">
            <td style="font-size: small;">{{key}}</td>
            <td style="font-size: small;">{{value.amount}}</td>
            <td style="font-size: small;">{{value.date_time|date:'Y-m-d'}}</td>
            <td style="font-size: small;">{{value.date_time|time:'H:i:s'}}</td>
            <td style="font-size: small;"><button>View</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>

{% endblock content %}