{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Wallet Page{% endblock title %}

{% block content %}
<!-- <div class="container">
    <div class="d-flex justify-content-between">
      <div class="" style="font-weight: bolder; font-size: larger;">
        My Wallet Balance
      </div>
      <div>
        <i class="fa-solid fa-coins fa-2x text-success"></i> <span class="mx-2 text-success" style="font-weight: bold;">{{request.user.wallet}}</span>
      </div>
    </div>
</div> -->
<section class="main">
  <div class="main-top">
    <h1>My Wallet</h1>
  </div>
  <div class="users d-flex justify-content-between">
    <div class="card bg-success text-white">
      <h4>Total Balance</h4>
      <p><i class="fa-solid fa-coins fa-2x"></i> <span class="mx-2"
          style="font-weight: bold;">{{request.user.wallet}}</span></p>
    </div>
    <div class="card bg-warning text-white">
      <h4>Total Purchase</h4>
      <p><i class="fa-solid fa-coins fa-2x"></i> <span class="mx-2"
        style="font-weight: bold;">{{user.total_invest}}</span></p>
    </div>
    <div class="card bg-info text-white">
      <h4>Total Earnings</h4>
      <p><i class="fa-solid fa-coins fa-2x"></i> <span class="mx-2"
        style="font-weight: bold;">{{user.total_income}}</span></p>
    </div>
  </div>

  <section class="main">
    <div class="main-top">
      <h1>Transactions</h1>
    </div>
    <table class="table">
      <thead>
        <tr style="color: black;">
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Ammount</th>
          <th>Date & Time</th>
          <th>Details</th>
        </tr>
      </thead>
    
      <tbody>
        {% for i,j in main_obj %}
          <tr style="color: black;">
            <td style="font-size: small;">{{i.product_name}}</td>
            <td style="font-size: small;">{{i.product_quantity}}&nbsp;{{i.SI_units}}</td>
            {% if j %}
              <td style="font-size: small;" class="text-danger">- {{i.ammount_based_on_quantity_buyer_want}}</td>
            {% else %}
              <td style="font-size: small;" class="text-success">+ {{i.ammount_based_on_quantity_buyer_want}}</td>
            {% endif %}
            
            <td style="font-size: small;">{{i.date_time}}</td>
            <td style="font-size: small;"><button>View</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>



{% endblock content %}