{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Wallet Page{% endblock title %}

{% block content %}
<section class="main">
  <div class="main-top">
    <h1 >My Wallet</h1>
  </div>
  <div class="users d-flex justify-content-between">
    <div class="card   " id="Wallet-card1">
      <h4 class="mb-4" style="color: rgb(3, 63, 205);">Total Balance</h4>
      <p><i class="fa-solid fa-coins fa-3x text-primary"></i> <span class="mx-2"
          style="font-weight: bold; color: rgb(3, 63, 205); font-size: 1.3em;">{{request.user.wallet}}</span></p>
    </div>
    <div class="card  " id="Wallet-card2">
      <h4 class="mb-4 " style="color: rgb(198, 172, 2);">Total Purchase</h4>
      <p><i class="fa-solid fa-coins text-warning fa-3x"></i> <span class="mx-2"
          style="font-weight: bold; color: rgb(233, 156, 13); font-size: 1.3em;">{{request.user.total_invest}}</span></p>
    </div>
    <div class="card" id="Wallet-card3">
      <h4 class="text-danger  mb-4">Total Earnings</h4>
      <p><i class="fa-solid fa-coins fa-3x text-danger"></i> <span class="mx-2"
          style="font-weight: bold; color: red; font-size: 1.3em;">{{request.user.total_income}}</span></p>
    </div>
  </div>

  <section class="main">
    <div class="main-top">
      <h1>Transactions</h1>
    </div>
    <table class="table">
      <thead>
        <tr style="color: black;">
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Date & Time</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        {% for i,j in main_obj %}
        <tr style="color: black;">
          <td style="font-size: small;">{{i.product_name}}</td>
          <td style="font-size: small;">{{i.quantity_buyer_want}}&nbsp;{{i.SI_units}}</td>
          {% if j %}
          <td style="font-size: small;" class="text-danger">- {{i.ammount_based_on_quantity_buyer_want}}</td>
          {% else %}
          <td style="font-size: small;" class="text-success">+ {{i.ammount_based_on_quantity_buyer_want}}</td>
          {% endif %}

          <td style="font-size: small;">{{i.date_time}}</td>
          <td style="font-size: small;"><button type="button" class="btn btn-success text-black" data-toggle="modal"
              data-target="#transactionModal{{ forloop.counter }}">View</button></td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="transactionModal{{ forloop.counter }}" tabindex="-1" role="dialog"
          aria-labelledby="transactionModalLabel{{ forloop.counter }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content mainn">
              <div class="row">
                <div class="receipt-main col-xs-12 col-sm-12 col-md-12">
                  <div class="row">
                    <div class="receipt-header d-flex justify-content-between">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                          <img class="img-responsive" alt="user-avatar"
                            src="{% static 'user_dashboard/img/g_logo2.png' %}"
                            style="width: 100px; border-radius: 100px;">
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                          <h5>Company Name.</h5>
                          <p>+1 3649-6589 <i class="fa fa-phone"></i></p>
                          <p>company@gmail.com <i class="fa fa-envelope-o"></i></p>
                          <p>USA <i class="fa fa-location-arrow"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="receipt-header receipt-header-mid">
                      <div class="col-xs-12 col-sm-12 col-md-12 d-flex justify-content-between">
                        <div class="receipt-right">
                          <h5>Customer Name </h5>
                          <p><b>Mobile :</b>+91-{{i.buyer.contact}}</p>
                          <p><b>Email :</b> {{i.buyer.email}}</p>
                          <p><b>Address :</b> {{i.buyer.city}}</p>
                        </div>
                        <div class="receipt-right">
                          <h5>Seller Name </h5>
                          <p><b>Mobile :</b>+91-{{i.seller.contact}}</p>
                          <p><b>Email :</b> {{i.seller.email}}</p>
                          <p><b>Address :</b> {{i.seller.city}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    Order Status : {{i.buying_status}}
                  </div>
                  <div>
                    <!-- Main content -->
                    <div class="invoice-wrapper row">
                      <div class="col-xs-12 invoice-holder">
                        <div class="invoice-item" style="padding: 10px 10px">
                          <div class="d-flex justify-content-between bg-secondary px-2 py-2">
                            <span class="title fs-4 text-white">Description</span>
                            <span class="value fs-4 text-white">Ammount</span>
                          </div>
                          <div class="d-flex justify-content-between border-bottom pb-2 px-3">
                            <div class="mt-3">
                              <span class="title">{{i.product_name}}</span>
                              <span class="title mx-5">{{i.quantity_buyer_want}}&nbsp;{{i.SI_units}}</span>
                            </div>
                            <div class="mt-3">
                              <span class="value">{{i.ammount_based_on_quantity_buyer_want}} /-</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="receipt-header receipt-header-mid receipt-footer d-flex justify-content-between">
                      <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right mt-3">
                          <p><b>Date :</b> {{i.date_time}}</p>
                          <h5 style="color: rgb(140, 140, 140);" class="mt-1">Thanks for shopping !</h5>
                        </div>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="d-flex justify-content-end">
                          <img class="img-responsive" alt="tree-stamp"
                            src="{% static 'user_dashboard/img/g_logo1.png' %}"
                            style="width: 100px; border-radius: 100px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-block" style="box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px 0 20px;border-top:1px solid #dedede;" valign="top">
                    <button class="downloadButton" data-counter="{{ forloop.counter }}">Download Invoice</button>
                    <p style="margin-bottom: 5px;text-align: center;"><b>NOTE :</b> This is computer generated receipt and does not require physical signature.</p>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>

{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll('.downloadButton').forEach(button => {
          button.addEventListener('click', function() {
              const counter = this.getAttribute('data-counter');
              const modalContent = document.querySelector(`#transactionModal${counter} .modal-content`);

              if (!modalContent) {
                  console.error('Modal content not found for counter:', counter);
                  return;
              }

              this.style.display = 'none';

              domtoimage.toPng(modalContent)
                  .then(function(dataUrl) {
                      const { jsPDF } = window.jspdf;
                      const pdf = new jsPDF();

                      pdf.addImage(dataUrl, 'PNG', 0, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
                      pdf.save('invoice.pdf');

                      button.style.display = 'block';
                  })
                  .catch(function(error) {
                      console.error('Error generating PDF:', error);
                      button.style.display = 'block';
                  }.bind(this));
          });
      });
  });
</script>  
{% endblock scripts %}
