{% extends 'service_provider/base.html' %}
{% load static %}

{% block s_vendor_content %}
<div class="main-panel">
    <div class="row mx-3 mt-3">
        <div class="col-12 col-md-4 mb-2">
            <div class=" dash-card1 h-100 py-2 ">
                <div class="card-body py-4">
                    <h5 class="mb-2 ">
                        My Progress
                    </h5>
                    <p class="mb-2 fw-bold">
                        $72,540
                    </p>
                    <div class="mb-0">
                        <span class="fw-bold  me-2">
                            +9.0%
                        </span>
                        <span class=" fw-bold">
                            Since Last Month
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="dash-card2 h-100 py-2 dash-card2">
                <div class="card-body py-4">
                    <h5 class="mb-2 fw-bold">
                        My Progress
                    </h5>
                    <p class="mb-2 fw-bold">
                        $72,540
                    </p>
                    <div class="mb-0">
                        <span class=" fw-bold me-2">
                            +9.0%
                        </span>
                        <span class="fw-bold">
                            Since Last Month
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="dash-card1 h-100 py-2 dash-card3">
                <div class="card-body py-4">
                    <h5 class="mb-2 fw-bold">
                        My Progress
                    </h5>
                    <p class="mb-2 fw-bold">
                        $72,540
                    </p>
                    <div class="mb-0">
                        <span class=" fw-bold  me-2">
                            +9.0%
                        </span>
                        <span class="fw-bold">
                            Since Last Month
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3  mx-3">
        <div class="col-md-7 grid-margin stretch-card mb-3">
            <div class="service_home_card  ">
                <div class=" ">
                    <div class="service_home_card_head  p-3">
                        <h4 class="text-white">Project Status</h4>
                    </div>
                    <div class="px-3 pb-3">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th> Sl </th>
                                    <th> Name </th>
                                    <th> Due Date </th>
                                    <th> Progress </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 1 </td>
                                    <td> Herman Beck </td>
                                    <td> May 15, 2015 </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-success" role="progressbar"
                                                style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 2 </td>
                                    <td> Messsy Adam </td>
                                    <td> Jul 01, 2015 </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 3 </td>
                                    <td> John Richards </td>
                                    <td> Apr 12, 2015 </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-warning" role="progressbar"
                                                style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 4 </td>
                                    <td> Peter Meggik </td>
                                    <td> May 15, 2015 </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-primary" role="progressbar"
                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 5 </td>
                                    <td> Edward </td>
                                    <td> May 03, 2015 </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 5 </td>
                                    <td> Ronald </td>
                                    <td> Jun 05, 2015 </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-info" role="progressbar"
                                                style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 grid-margin stretch-card">
            <div class="service_home_card">
                <div class="">
                    <div class="service_home_card_head  p-3 mb-3">
                        <h4 class="text-white">Todo List</h4>
                    </div>
                    <div class="add-items d-flex  justify-content-center align-items-center mx-3">
                        <input type="text" class="form-control todo-list-input me-3"
                            placeholder="What do you need to do today?">
                        <button class=" table_btn mb-3"
                            id="add-task">Add</button>
                    </div>
                    <div class="list-wrapper pb-2">
                        <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Meeting with Alisa
                                        <span class="custom-checkmark"></span>
                                    </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li class="completed">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked> Call John
                                        <span class="custom-checkmark"></span>
                                    </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Create invoice
                                        <span class="custom-checkmark"></span>
                                    </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Print Statements
                                        <span class="custom-checkmark"></span>
                                    </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li class="completed">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked> Prepare for presentation
                                        <span class="custom-checkmark"></span>
                                    </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Pick up kids from school
                                        <span class="custom-checkmark"></span>
                                    </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row d-flex justify-content-center service_anime_row mx-3 my-4">
        <div class="service_anime_div">
            <img  src="{% static 'app_common/css/images/anime.gif'%}" alt="">

        </div>
    </div> -->
</div>
{% endblock s_vendor_content %}