{% extends 'service_provider/base.html' %}
{% load static %}

{% block s_vendor_content %}
<div class="mx-lg-4 mx-3">
    <h3 class="mb-4">My Service Bookings</h3>
<ul class="px-0">
    {% for booking in bookings %}
    <li class="list-group-items px-lg-4 px-2 pt-1 pb-5  pt-lg-3 pb-lg-5 mb-2">
        <h5>{{ booking.service.name }}</h5>
        <p><span><h6 style="display:inline;">Gardener:</h6> {{ booking.gardener.full_name }}</span></p>
        <p><span><h6 style="display:inline;">Booking Date:</h6> {{ booking.booking_date }}</span></p>
        <p><span><h6 style="display:inline;">Status:</h6> {{ booking.status }}</span></p>
        
        {% if booking.status == 'pending' %}
        <a href="{% url 'service_provider:confirm_booking' booking.id %}" class="" id="table_BTN">Confirm Booking</a>
        <a href="{% url 'service_provider:decline_booking' booking.id %}" 
        class="" 
        id="table_BTN2" 
        onclick="return confirm('Are you sure you want to decline this booking?');">
        Decline Booking
     </a>
        {% elif booking.status == 'confirmed' %}
        <button type="button" class="" id="table_BTN" data-bs-toggle="modal"
            data-bs-target="#markCompleteModal-{{ booking.id }}">
            Mark As Complete
        </button>
        {% endif %}
        <!-- <a href="{% url 'chat:startmessages' booking.gardener.id 'None' %}" class="btn btn-primary">Message RTG</a> -->
    </li>

    <!-- Modal Structure for each booking -->
    <div class="modal fade" id="markCompleteModal-{{ booking.id }}" tabindex="-1"
        aria-labelledby="markCompleteModalLabel-{{ booking.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="markCompleteModalLabel-{{ booking.id }}">Confirm Completion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to mark this booking as complete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class=""id="table_BTN2" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'service_provider:mark_as_complete' booking.id %}" class="" id="table_BTN">Mark as
                        Complete</a>
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <li class="list-group-item">No bookings found.</li>
    {% endfor %}
</ul>
</div>
{% endblock s_vendor_content %}