{% extends 'service_provider/base.html' %}
{% load static %}

{% block s_vendor_content %}
<div class="mx-3">
    <header>
        <div class="container-fluid">
            <div class="border-bottom pt-6">
                <div class="row align-items-center">
                    <div class="col-sm col-12">
                        <h3 class="ls-tight">Service List</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main class="py-3 bg-surface-secondary">
        
        
        <div class="container-fluid">
            <div class="vstack gap-">
                <div class="d-flex justify-content-between flex-column flex-sm-row gap-">
                    <form method="get" action="{% url 'service_provider:service_list' %}">
                        <div class="input-group mb-3">
                            <select class="form-control selects" name="search_by" aria-label="Default select example">
                                <option value="name">Name</option>
                                <option value="service_type">Service Type</option>
                            </select>
                            <input type="text" name="search" class="form-control" placeholder="Search services..." value="{{ search_query }}" aria-label="Search services">
                            <button class="table_btn" style="height: 35px;" type="submit">Search</button>
                        </div>
                    </form>
                    <div class=" mb-3 d-flex justify-contnet-end ">
                        <a data-bs-toggle="modal" data-bs-target="#create_service" class="" id="table_BTN">
                            <i class="fa-solid fa-plus  border-2 rounded"></i><b class="mx-1">Create New Service</b>
                        </a>
                    </div>
                </div>
                
        <div class="">
            <div class="service_large_card table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="table-light bg-success">
                        <tr>
                            <th class="rounded-top-start-1" id="table_head_bg" scope="col">Service Image</th>
                            <th class="rounded-top-start-1" id="table_head_bg" scope="col">Service Name</th>
                            <th id="table_head_bg" scope="col">Description</th>
                            <th id="table_head_bg" scope="col">Price/Hour</th>
                            <th class="rounded-top-end-1" id="table_head_bg" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="test_table_tbody">
                        {% for service in service_list %}
                            <tr>
                                <td>
                                    {% if service.service_image %}
                                        <img src="{{ service.service_image.url }}" alt="{{ service.name }}" style="width: 100px; height: auto;">
                                    {% else %}
                                        <img src="{% static 'default-service-image.jpg' %}" alt="No Image" style="width: 100px; height: auto;">
                                    {% endif %}
                                </td>
                                <td>{{ service.service_type.service_category }}</td>
                                <td style="max-width: 30vw;">{{ service.description }}</td>
                                <td>{{ service.price_per_hour }}</td>
                                <td>
                                    <div class="d-flex flex-column flex-sm-row">
                                        <a href="{% url 'service_provider:service_update' service.id %}" class="me-2 mb-1 mb-sm-0" id="table_BTN">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'service_provider:service_delete' service.id %}" class="mb-sm-0 " id="table_BTN2">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
          
        </div>
            </div>
        </div>
    </main> 
    
    
    <!-- test create modal -->
    <div class="modal fade" id="create_service" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Service</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">{{field.label}}:</label>
                  {{field}}
                </div>
                {% endfor %}
    
                <center>
                    <button class="table_btn" type="submit"> Create Service </button>
                </center>
              </form>
            </div>
            
          
        </div>
      </div>
    </div>
  </div>
{% endblock s_vendor_content %}
