{% extends 'service_provider/base.html' %}
{% load static %}

{% block s_vendor_content %}

<div class="container mt-3">
    <div class="row d-flex align-items-center justify-content-center mb-4">
        <div class="col-lg-9 px-4 service_large_card">
            <form method="post" action="" class="p-4" enctype="multipart/form-data">
                {% include 'app_common/snippets/alert.html' %}
                {% csrf_token %}
                <div class="form-group">
                    <label><h6>Service Type:</h6></label><br>
                    {% for service in form.service_type %}
                    <div class="form-check form-check-inline">
                        {{ service }}
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class="table_btn" id="add-more-service-type">Add
                    More</button>
                <div id="additional-service-type" class="form-group" style="display: none;">
                    {{ form.add_service_type.label_tag }}
                    {{ form.add_service_type }}
                </div>
                <div class="form-group mt-3">
                    <label><h6>Service Area:</h6></label><br>
                    {% for city in form.service_area %}
                    <div class="form-check form-check-inline">
                        {{ city }}
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class="table_btn" id="add-more-service-area">Add
                    More</button>
                <div id="additional-service-area" class="form-group" style="display: none;">
                    {{ form.add_service_area.label_tag }}
                    {{ form.add_service_area }}
                </div>
                <div class="form-group">
                    <label for="id_years_experience"><h6>Years of Experience:</h6></label>
                    {{ form.years_experience }}
                </div>
                <div class="form-group">
                    <label for="id_image"><h6>Profile Image:</h6></label>
                    {{ form.image }}
                </div>
                <div style="text-align:center;">
                    <button class="w-100" id="table_BTN" type="submit">
                        Update Your Profile
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('add-more-service-type').addEventListener('click', function() {
        document.getElementById('additional-service-type').style.display = 'block';
        this.style.display = 'none';
    });

    document.getElementById('add-more-service-area').addEventListener('click', function() {
        document.getElementById('additional-service-area').style.display = 'block';
        this.style.display = 'none';
    });
</script>
{% endblock s_vendor_content %}