{% extends 'admin_dashboard/starter.html' %}
{% load static %}

{% block title %}Update Blog{% endblock title %}

{% block content %}
<section class="py-6 bg-surface-secondary">
<div class="row d-flex justify-content-center">
    <div class="col-lg-10">
        <div class="text-center my-lg-4 text-secondary">
         <h4 class="text-black">Update Your Blogs</h4>
        </div>
         <div class="card h-100 table-responsive">
             <form action="" method="post" enctype="multipart/form-data" class="p-lg-4 lh-lg">
                     {% csrf_token %}
                     {{ form.media }}
                     <div class="row">
                         {% for field in form %}
                             <div class="col-12">
                                 <div class="form-group">
                                     {{ field.label_tag }}
                                     {{ field }}
                                 </div>
                             </div>
                         {% endfor %}
                     </div>
                     <br>
                 <button type="submit" id="table_BTN" class=" w-100">Update Blog</button>
             </form>
         </div>
        </div>

</div>
 </section>
{% endblock content %}