{% extends 'app_common/authentication/master.html' %}
{% block title %}SignUp{% endblock title %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="login">
                    <div
                        class="d-flex justify-space-between"
                        style="align-items: center;justify-content: space-evenly;">
                        <div class="auth_reg_logo">
                            <img src="{% static 'user_dashboard/images/green-logo.png' %}"/>
                        </div>
                        <div>
                            <h3>Gardening Data</h3>
                        </div>
                    </div>
                   
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.garden_area.label_tag }}
                            {{ form.garden_area }}
                        </div>
                        <div class="form-group">
                            {{ form.number_of_plants.label_tag }}
                            {{ form.number_of_plants }}
                        </div>
                        <div class="form-group">
                            {{ form.number_of_unique_plants.label_tag }}
                            {{ form.number_of_unique_plants }}
                        </div>
                        <div class="form-group">
                            {{ form.garden_image.label_tag }}
                            {{ form.garden_image }}
                        </div>
                        <button type="submit" class="btn btn-success btn-lg w-100 mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}