{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}
<section class="py-2">
    <div class="container">
        <h4 class="headings_h5 text-center my-lg-4 p-lg-3">All NewsActivity</h4>
        <div class="vstack">
            <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
                <form class="my-3 mx-2" action="{% url 'admin_dashboard:newsactivity_search' %}" method="post">
                    {% csrf_token %}
                    <div class="hstack gap-2">
                        <select style="width: 6rem;" name="filter_by" class="form-select form-select1" aria-label="Default select example">
                            <option selected value="pk">All</option>
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                        </select>
                        <span  class="input-group ">
                            <input type="text" name="query" placeholder="Search Here" class="form-control form-select1" required />
                            <button type="submit" class="input-group-text form-select1"><i class='bx bx-search-alt-2' ></i></button>
                        </span>
                    </div>
                </form>
                <p class="snippets"> {% include 'app_common/snippets/alert.html' %}</p>
                <div class="btn-group catagory-btn">
                    <a href="{% url 'admin_dashboard:newsactivity_add' %}">
                        <i class='bx bxs-plus-square'></i>
                         Create a New Newsactivity
                    </a>
                </div>
            </div>

            <div class="tablecard">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th class="" id="tb-head" scope="col">Newsactivity ID</th>
                                <th class="" id="tb-head" scope="col">Newsactivity Title</th>
                                <th class="" id="tb-head" scope="col">Type</th>
                                <th class="" id="tb-head" scope="col">Action</th>
                            </tr>
                        </thead>
                        <form method="post" action="">
                            {% csrf_token %}
                        <tbody id="test_table_tbody">
                            {% for newsactivity in newsactivity_list %}
                            <tr>
                                <td class="tb-body">
                                    <div class="tb-body_sub">
                                        <a class="text-heading text-primary-hover fw-bold"
                                            href="{% url 'admin_dashboard:newsactivity_update' newsactivity.id %}">
                                            {{ newsactivity.id }}
                                        </a>
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-capitalize">
                                        {{ newsactivity.title |truncatewords:8 }}                                  
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-uppercase">
                                        {{ newsactivity.type }}                                 
                                    </div>
                                </td>
                                <td class="d-flex justify-content-evenly p-3">
                                    <div class="">
                                        <a href="{% url 'admin_dashboard:newsactivity_update' newsactivity.id %}">
                                            <i class="fa-solid fa-pen-to-square"></i>                                    </a>
                                    </div>
                                    <div class="">
                                        <a href="{% url 'admin_dashboard:newsactivity_delete' newsactivity.id %}">
                                            <i class="fa-solid fa-trash"></i>   
                                    </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </form>
                    </table>
                </div>
            </div>
        </div>
        
        <!-- Pagination -->
        <div class="py-lg-2">
            <div class="pagination">
                {% if newsactivity_list.has_previous %}
                    <a href="?page={{ newsactivity_list.previous_page_number }}">&laquo;</a>
                {% endif %}
                {% for i in newsactivity_list.paginator.page_range %}
                    {% if newsactivity_list.number == i %}
                        <a href="?page={{ i }}" class="active">{{ i }}</a>
                    {% elif i > newsactivity_list.number|add:'-3' and i < newsactivity_list.number|add:'3' %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if newsactivity_list.has_next %}
                    <a href="?page={{ newsactivity_list.next_page_number }}">&raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}