.contact form .form-control {
    border: none;
    border-bottom: 2px solid #c7dec0;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact form .form-control:focus {
    border-bottom-color: #37af2c;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact form textarea.form-control {
    height: 40px; /* Adjust this value as needed */
    resize: none; /* Optional: Disable resizing by the user */
}
.add_blog_btn{
background-color: #1F782B;
color: white;
padding: 7px 10px;   
border-radius: 4px;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.add_blog_btn:hover{
background: rgb(5,131,47);
background: linear-gradient(344deg, rgba(5,131,47,1) 14%, rgba(4,99,19,1) 52%, rgba(6,175,27,1) 100%);
color: #fff !important;
transition: 0.5rem;
text-decoration: none;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.icon-circle {
background-color: #089000; /* Green background color */
border-radius: 50%;
padding: 12px; /* Adjust the padding for the circle size */
display: flex;
align-items: center;
justify-content: center;
margin-right: 10px; /* Space between icon and text */
}

.icon-circle i {
color: white; /* Icon color */
font-size: 18px; /* Adjust the icon size */
}


.text-content p {
font-size: 14px; /* Adjust the font size */
line-height: 1.2; /* Reduce line height */
margin-bottom: 5px; /* Reduce space between paragraphs */
}