.search-input {
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(133, 240, 112, 0.773);
    outline: none !important;
}
.details_btn{
    background-color: #1F782B;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.details_btn:hover{
    text-decoration: none;
    background: rgb(5,131,47);
background: linear-gradient(344deg, rgba(5,131,47,1) 14%, rgba(4,99,19,1) 52%, rgba(6,175,27,1) 100%);
    color: white;
}
.search-btn {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(71, 106, 65, 0.1);
    color: #1F782B;
    border: 1px solid green;
    padding: 0; /* Remove the padding */
    display: inline-block;
    width: 45px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    line-height: 40px; /* Align icon vertically */
    text-align: center; /* Align icon horizontally */
    font-size: 18px; /* Adjust the font size of the icon */
    background-color: #fff; /* Optional: Add background color */
}
.search-btn:hover{
    background-color:#1F782B ;
    color: white;
}


.service-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.service-image {
    height: 200px;
    object-fit: cover;
}
.details_div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}