.main{
    position: relative;
    
    width: 100%;
  }
  .main-top{
    display: flex;
    width: 100%;
  }
  .main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
  }

  .users .card{
    width: 31.8%;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .users .card h4{
    text-transform: uppercase;
  }
  .users .card p{
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  #Wallet-card1{
    background: rgb(234,244,243);
    background: linear-gradient(349deg, rgb(99, 114, 232) 0%, rgb(190, 204, 244) 48%, rgb(233, 237, 246) 88%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 3px !important;
    height: 8.2rem!important;
    
}
.wallet-card h4{
  color: blue;

}
#wallet-card{
  color: blue;
  font-size: 14px;
}
 #Wallet-card2{
  background: rgb(244,244,234);
  background: linear-gradient(349deg, rgb(216, 216, 42) 0%, rgb(227, 228, 171) 48%, rgb(234, 234, 208) 88%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 3px !important;
  height: 8.2rem!important;
 }
 #Wallet-card3{
  background: rgb(244,244,234);
  background: linear-gradient(349deg, rgb(237, 113, 113) 0%, rgb(241, 184, 191) 48%, rgb(247, 232, 234) 88%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 3px !important;
  height: 8.2rem!important;
 } 
  /*Attendance List serction  */
  .attendance{
    margin-top: 20px;
    text-transform: capitalize;
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  #t-Head{
    background-color: green;
    color: white;
    text-align: left;
    font-weight: bold;
}
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
  .table tbody tr.active{
    font-weight: bold;
    color: #4AD489;
  }
#t_daTa{
  font-size: 14px;
}
  .table button{
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #008000;
  }
  .table button:hover{
    background: rgb(5,131,47);
    background: linear-gradient(344deg, rgba(5,131,47,1) 14%, rgba(4,99,19,1) 52%, rgba(6,175,27,1) 100%);
    color: #fff !important;
    transition: 0.5rem;
  }
.table button::after{
  
}
.table-responsive{
   
}
  .downloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it's above other elements */
}