{% extends 'user_dashboard/starter.html' %}
{% load static %}

{% block title %}Compose Message{% endblock title %}

{% block content %}
<style>
  .container {
    background: #fff;
    padding: 0;
    border-radius: 7px;
  }

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    object-fit: cover;
  }

  .settings-tray {
    background: #eee;
    padding: 10px 15px;
    height: 65px;
  }

  .settings-tray .no-gutters {
    padding: 0;
  }

  .settings-tray--right {
    float: right;
  }

  .settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 14px;
    transition: 0.3s;
  }

  .settings-tray--right i:hover {
    color: #74b9ff;
    cursor: pointer;
  }

  .search-box {
    background-color: #21312e;
    padding: 10px 13px;
  }

  .search-box .input-wrapper {
    background: #585353;
    border-radius: 40px;
  }

  .search-box .input-wrapper i {
    color: grey;
    margin-left: 7px;
    vertical-align: middle;
  }

  input {
    border: none;
    border-radius: 30px;
    width: 80%;
  }

  input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
  }

  input:focus {
    outline: none;
  }

  .friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background-color: #374644;
    transition: 0.3s ease;
  }

  .text h6 {
    color: #ffffff;
    font-weight: 600;
  }

  .active {
    background-color: 14453B;
  }

  .friend-drawer--grey {
    background: #eee;
  }

  .friend-drawer .text {
    margin-left: 12px;
    width: 70%;
  }

  .friend-drawer .text p {
    margin: 0;
  }

  .friend-drawer .time {
    color: grey;
  }

  .friend-drawer--onhover:hover {
    background: #374644;
    cursor: pointer;
  }

  .friend-drawer--onhover:hover p,
  .friend-drawer--onhover:hover h6,
  .friend-drawer--onhover:hover .time {
    color: #fefcfc !important;
  }

  hr {
    margin: 5px auto;
    width: 60%;
  }

  .chat-bubble {
    padding: 7px 14px;
    background: #038035;
    color: white;
    margin: 10px 30px;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 1s ease-in;
    width: 80%;
  }

  .chat-bubble.chat-bubble--right {
    margin-left: auto;
  }

  .chat-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }

  .chat-bubble--left:after {
    left: 0;
    border-right-color: #038035;
    border-left: 0;
    margin-left: -20px;
  }

  .chat-bubble--right:after {
    right: 0;
    border-left-color: #038035;
    border-right: 0;
    margin-right: -20px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .offset-md-9 .chat-bubble {
    background: #008134;
    color: #fff;
  }

  .chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    margin-top: 19px;
    bottom: 0;
  }

  .chat-box-tray input {
    margin: 0 10px;
    padding: 6px 2px;
  }

  .chat-box-tray i {
    color: grey;
    font-size: 30px;
    vertical-align: middle;
  }

  .chat-box-tray i:hover {
    color: #74b9ff;
    cursor: pointer;
  }

  .chat-box-tray i:last-of-type {
    margin-left: 25px;
  }

  .top-bar {
    background-color: #14453B;
    height: 100px;
  }

  /* Custom scrollbar styles for chat panel */
  #chat-panel::-webkit-scrollbar {
    width: 12px;
  }

  #chat-panel::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  #chat-panel::-webkit-scrollbar-thumb {
    background-color: #038035;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }

  #chat-panel::-webkit-scrollbar-thumb:hover {
    background-color: #038035;
  }

  /* For Firefox */
  #chat-panel {
    scrollbar-width: thin;
    scrollbar-color: #038035 #f1f1f1;
  }

  .background-image {
    background-image: url("{% static 'user_dashboard/img/message2.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>

<section style="background:#e1e0dd;">
  <div class="top-bar mt-3" style="height: 3.7rem;"></div>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 border-right" style="overflow-y: auto; background-color: #21312e;">
        <div class="settings-tray" style="background-color: #21312e; border-bottom: 1px solid gray;">
          {% if request.user.user_image %}
            <img class="profile-image" src="{{request.user.user_image.url}}" alt="Profile img">
          {% else %}
            <img class="profile-image" src="{% static 'user_dashboard/img/profile8.jpg' %}" alt="">
          {% endif %}
          <span class="settings-tray--right">
            <i onclick="refreshPage()" class="fa-solid fa-arrows-rotate text-white"></i>
          </span>
        </div>
        <div class="search-box">
          <div class="input-wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input style="background-color:  #585353; color: white;" placeholder="Search here" type="text">
          </div>
        </div>
        {% for i, l_message in zipped_messages %}
          {% if i.receiver == request.user %}
            <div class="friend-drawer friend-drawer--onhover {% if forloop.first %}active{% endif %}" onclick="loadMessages('{{ i.sender.id }}')">
              {% if i.sender.user_image %}
                <img class="profile-image" src="{{i.sender.user_image.url}}" alt="">
              {% else %}
                <img class="profile-image" src="{% static 'user_dashboard/img/profile2.jpg' %}" alt="">
              {% endif %}
              <div class="text">
                <h6>{{i.sender.full_name}}</h6>
                <p class="text-muted">{{ l_message.0 }}</p>
              </div>
              <span class="time text-muted small">{{ l_message.1 }}</span>
            </div>
            <hr>
          {% else %}
            <div class="friend-drawer friend-drawer--onhover {% if forloop.first %}active{% endif %}" onclick="loadMessages('{{ i.receiver.id }}')">
              {% if i.receiver.user_image %}
                <img class="profile-image" src="{{i.receiver.user_image.url}}" alt="">
              {% else %}
                <img class="profile-image" src="{% static 'user_dashboard/img/profile2.jpg' %}" alt="">
              {% endif %}
              <div class="text">
                <h6>{{i.receiver.full_name}}</h6>
                <p class="text-muted">{{ l_message.0 }}</p>
              </div>
              <span class="time text-muted small">{{ l_message.1 }}</span>
            </div>
            <hr>
          {% endif %}
        {% endfor %}
      </div>
      
      <div class="col-md-8 background-image">
        <div class="settings-tray " style="background-color:#21312e ;"> 
          <div class="friend-drawer no-gutters friend-drawer--grey " style="background-color:#21312e ;">
            <img class="profile-image" id="chatpartner-profile-image" src="{% static 'user_dashboard/img/profile8.jpg' %}" alt="">
            <div class="text">
              <h6 id="chatpartner_name"></h6>
              <p class="text-muted">Layin' down the law since like before Christ...</p>
            </div>
            <span class="settings-tray--right">
              <i onclick="refreshPage()" class="fa-solid fa-arrows-rotate text-white"></i>
            </span>
          </div>
        </div>

        <div class="chat-panel" id="chat-panel" style="height: 400px; overflow-y: auto;">
          <!-- Chat messages will be loaded here -->
        </div>
        <div class="row" >
          <div class="col-12" >
            <div class="chat-box-tray" style="background-color: #21312e;">
              <form id="messageForm" action="{% url 'chat:send_message' %}" method="post" class="w-100">
                {% csrf_token %}
                <div class="row" >
                  <div class="col-lg-10 col-md-10 col-xl-10 col-sm-10 col-10"  >
                    <input type="hidden" id="receiverIdInput" name="receiver_id" value="" style="background-color:#585353;">
                    <input type="text" name="message" placeholder="Type your message here..." class="w-100" style="background-color:#585353; color: white; padding-left: 20px;">
                  </div>
                  <div class="col-lg-2 col-md-2 col-xl-2 col-sm-2 col-2">
                    <i id="submitMessage" class="fa-solid fa-paper-plane" ></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
