{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block title %}Room List{% endblock title %}
{% block content %}
    <div class="page-wapper">
        {% include 'app_common/snippets/alert.html' %}
        <div class="search_sec">
               
            <form method="GET" action="{% url 'admin_dashboard:search_user' %}">
                {% csrf_token %}
                <div class="table_search_box">

                    <select class="form-control selects" name="search_by" aria-label="Default select example">
                        <option value="email">Email</option>
                        <option value="contact">Contact</option>
                    </select>
    
                    <input type="text" style="height: 49px;" class="form-control" placeholder="Enter Query" name="query" required/>
    
                    <button class="btn qry-sub" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </div>
            </form>

        </div>
        {% for n_approve in not_approvedlist %}
            {% if n_approve.is_gardener %}
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">User-ID</th>
                                <th scope="col">Ful Name</th>
                                <th scope="col">E-Mail</th>
                                <th scope="col">Area</th>
                                <th scope="col">Total Plants</th>
                                <th scope="col">Unique Plants</th>
                                <th scope="col">Garden Image</th>
                                <th scope="col">Quiz Answers</th>
                                <th scope="col">Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for g_user,garden_user in garden_data %}
                            <tr>
                                <td>{{ g_user.id }}</td>
                                <td>{{ g_user.full_name }}</td>
                                <td>{{ g_user.email }}</td>
                                <td>{{ garden_user.garden_area }}</td>
                                <td>{{ garden_user.number_of_plants }}</td>
                                <td>{{ garden_user.number_of_unique_plants }}</td>
                                <td><img src="{{ garden_user.garden_image.url }}" alt="Garden Image" style="height: 50px; width: 50px;"></td>
                                <td><a href="{% url 'admin_dashboard:quizanswers' g_user.id %}">View</a></td>
                                <td>
                                    <div class="d-flex justify-content-arround">
                                        <a href="{% url 'admin_dashboard:approve_user' g_user.id %}">
                                            <span class="btn btn-success"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                                        </a>
                                        <a href="{% url 'admin_dashboard:reject_user' g_user.id %}">
                                            <span class="btn btn-danger mx-1"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                        </a>
                                    </div>
                                </td>
                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'app_common/snippets/pagination.html' %}
                </div>
            {% else %}
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Bussiness Name</th>
                            <th scope="col">Business Address</th>
                            <th scope="col">Business License Number</th>
                            <th scope="col">Business Category</th>
                            <th scope="col">Establishment Year</th>
                            <th scope="col">Website</th>
                            <th scope="col">Give Points</th>
                            <th scope="col">Action</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v_user,vendor_detail in vendor_data %}
                        <tr>
                            <td>{{ v_user.email }}</td>
                            <td>{{ vendor_detail.business_name }}</td>
                            <td>{{ vendor_detail.business_address }}</td>
                            <td>{{ vendor_detail.business_license_number }}</td>
                            <td>{{vendor_detail.business_category}}</td>
                            <td>{{vendor_detail.establishment_year}}</td>
                            <td>{{vendor_detail.website}}</td>
                            <td>
                                <input type="number" id="points-{{ v_user.id }}" max="500" min="0" step="1" placeholder="Give Points Between 0-500">
                            </td>                           
                            <td>
                                <div class="d-flex justify-content-arround">
                                    <a href="#" class="btn btn-success" onclick="approveVendor({{ v_user.id }})">
                                        <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                                    </a>
                                    <a href="{% url 'admin_dashboard:reject_user' v_user.id %}">
                                        <span class="btn btn-danger mx-1"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                    </a>
                                </div>
                            </td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'app_common/snippets/pagination.html' %}
            </div>
            {% endif %}
        {% endfor %}  
    </div>
{% endblock content %}
{% block js %}
<!-- <script src="{% static 'admin_dashboard/js/user_list.js'%}"></script> -->
<script>
    function approveVendor(userId) {
        var points = document.getElementById('points-' + userId).value;
        console.log(points)
        if (points !== "") {
            var url = "{% url 'admin_dashboard:approve_user' 0 %}".replace("0", userId) + "?coins=" + points;
            window.location.href = url;
        } else {
            alert("Please enter points between 0 and 500.");
        }
    }
</script>
{% endblock js %}