{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block title %}Pending SP List{% endblock title %}
{% block content %}
<div class="page-wapper">
    {% include 'app_common/snippets/alert.html' %}
    <div class="search_sec">

        <form method="get" action="{% url 'admin_dashboard:search_user_sp_pending' %}">
            <div class="table_search_box">

                <select class="form-control selects" name="search_by" aria-label="Default select example">
                    <option value="email">Email</option>
                    <option value="contact">Contact</option>
                </select>

                <input type="text"  class="form-control" placeholder="Enter Query" name="query"
                    required />

                <button class="btn qry-sub" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

            </div>
        </form>

    </div>

    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="table-light">
                <tr>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Service Type</th>
                    <th scope="col">Service Areas</th>
                    <th scope="col">Years Experience</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                {% for s_provider,s_provider_detail in service_provider_data %}
                <tr>
                    <td id="t_daTa">{{ s_provider.email }}</td>
                    <td id="t_daTa">
                        {% for type in s_provider_detail.service_type %}
                            {{ type }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td id="t_daTa">
                        {% for area in s_provider_detail.service_area %}
                            {{ area }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td id="t_daTa">{{s_provider_detail.years_experience}}</td>
                    <td id="t_daTa">
                        <div class="d-flex align-items-baseline">
                            <a href="{% url 'admin_dashboard:approve_user' s_provider.id %}">
                                <span class="mb-2" id="table_BTN">Approve</span>
                            </a>
                            <a href="{% url 'admin_dashboard:reject_user' s_provider.id %}">
                                <span class=" mx-1" id="table_BTN2">Reject</span>
                            </a>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}