{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block title %}User List{% endblock title %}
{% block content %}
    <div class="page-wapper">
        {% include 'app_common/snippets/alert.html' %}
        <div class="search_sec">
            <form method="GET" action="{% url 'admin_dashboard:search_user' %}">
                {% csrf_token %}
                <div class="table_search_box">
                    <select class="form-control selects" name="search_by" aria-label="Default select example">
                        <option value="email">Email</option>
                        <option value="contact">Contact</option>
                    </select>
                    <input type="text" style="height: 49px;" class="form-control" placeholder="Enter Query" name="query" required/>
                    <button class="btn qry-sub" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col">User-ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Wallet Balance</th>
                        <th scope="col">Gardening Details</th>
                        <th scope="col">Active Status</th>
                        <th scope="col">Last Login</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.wallet }}</td>
                        <td><a href="{% url 'admin_dashboard:gardening_details' user.id %}">Gardening Details</a></td>
                        <td>{{ user.is_active }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>
                            <!-- Trigger Delete Modal -->
                            <a href="#" data-bs-toggle="modal" data-bs-target="#delete_user_modal_{{ user.id }}" class="mx-3">
                                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                            </a>
                            <!-- Trigger Wallet Balance Modal -->
                            <a href="#" data-bs-toggle="modal" data-bs-target="#wallet_balance_add_modal_{{ user.id }}">
                                <i class="fa fa-wallet text-primary" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Delete User Modal -->
                    <div class="modal fade" id="delete_user_modal_{{ user.id }}" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete user <strong>{{ user.full_name }}</strong>?</p>
                                    <form action="{% url 'admin_dashboard:delete_rtg' user.id %}" method="post">
                                        {% csrf_token %}
                                        <div style="text-align: center;">
                                            <button class="btn btn-danger" type="submit">Delete User</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Wallet Balance Add Modal -->
                    <div class="modal fade" id="wallet_balance_add_modal_{{ user.id }}" tabindex="-1" aria-labelledby="walletBalanceAddModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="walletBalanceAddModalLabel">Add Wallet Balance</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'admin_dashboard:rtg_add_wallet_balance' %}" method="post">
                                        {% csrf_token %}
                                        <input name="user_id" type="number" value="{{ user.id }}" hidden/>
                                        <input name="email" type="email" value="{{ user.email }}" class="form-control" readonly/>
                                        {{form.as_p}}
                                        <div style="text-align: center;">
                                            <button class="btn btn-outline-primary" type="submit">Add Balance</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </tbody>
            </table>
            {% include 'app_common/snippets/pagination.html' %}
        </div>
    </div>
{% endblock content %}
