{% extends 'app_common/authentication/master.html' %}
{% block title %}Login{% endblock title %}
{% load static %}

{% block content %}
<style>
  body {
        font-family: 'Arial', sans-serif !important;
        
    }
    .login-body{
        background: #ffffffb3;
    }
    .form-group label {
        font-weight: 500;
        color: #495057;
    }
     #h3 {
        color: #009f10;
        
    }
    .form-control {
      width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #ced4da;
  border-radius: 5px !important;
  transition: border-color 0.3s ease-in-out;
  font-family: 'Arial', sans-serif;
    }
    .form-control:focus {
      border-color: #009f10;
  box-shadow: 0 0 8px rgba(128, 255, 149, 0.5);
  outline: none;
    }
    .form-control::placeholder{
        font-size: 14px;
        padding-left: 5px;
    }
    .text-xs{
        font-size: 14px;
    }
</style>


<body>
    

<div class="container my_container mt-3">
    <div class="row align-items-center justify-content-center mt-5">
        <div class="col-lg-8 col-md-8  col-sm-12">
            <div class="row login-body rounded mt-3 p-2">
                <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                    <!-- Lottie animation container -->
                    <div id="lottie-animation" style="width: 100%; max-width: 300px; height: 300px;"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 my-4">
                    <h2 class="text-center mt-3 mb-5" id="h3">Login</h2>
                    <div class="login px-4 ">
                        
                        <form method="post" action="" class=" m-0 p-o form-group">
                            {% include 'app_common/snippets/alert.html' %}
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center mt-3">
                                <button class="log_btn" type="submit">Login</button>
                            </div>
                            <p class="pt-2 text-xs" >Forgot Password <a href="{% url 'app_common:password-reset' %}" style="text-decoration: none;"><b>Forgot ??</b></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.8/lottie.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Load Lottie animation
        var animation = lottie.loadAnimation({
            container: document.getElementById('lottie-animation'), // the DOM element that will contain the animation
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: "{% static 'app_common/css/images/anim1.json' %}" // the path to the animation json
        });

        // Check if the animation is loaded correctly
        animation.addEventListener('DOMLoaded', function() {
            console.log('Lottie animation loaded successfully.');
        });

        animation.addEventListener('data_failed', function() {
            console.error('Failed to load Lottie animation.');
        });
    });
</script>
</body>
{% endblock content %}
