{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password-Reset-Complete</title>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">

</head>
<body>
    <section>
		<div class="card center">
			<p>Your password has been changed successfully. Please <a href="{% url 'app_common:login' %}" class="fw-bold text-danger">Login</a></p>
		</div>
	</section>
</body>
</html>