{% extends 'app_common/authentication/master.html' %}
{% block title %}SignUp{% endblock title %}
{% load static %}

{% block content %}
<style>
    .auth {
        background:#006633;
    }
</style>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="login register">
                    <div
                        class="d-flex justify-space-between"
                        style="align-items: center;justify-content: space-evenly;">
                        <div class="auth_reg_logo">
                            <img src="{% static 'user_dashboard/images/green-logo.png' %}"/>
                        </div>
                        <div>
                            <h3>Register</h3>
                        </div>
                    </div>
                   
                    <form method="post" action="" class="p-4 text-black">
                        {% include 'app_common/snippets/alert.html' %}
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="{{ form.full_name.id_for_label }}">Full Name</label>
                            {{ form.full_name }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.contact.id_for_label }}">Contact Number</label>
                            {{ form.contact }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.city.id_for_label }}">City</label>
                            {{ form.city }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}">Password</label>
                            {{ form.password }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                            {{ form.confirm_password }}
                        </div>
                        
                        <div class="d-flex justify-content-center mt-1">
                            <div class="form-check">
                                <label for="{{ form.is_gardener.id_for_label }}" class="form-check-label">
                                    {{ form.is_gardener }} Gardener
                                </label>
                            </div>
                            
                            <div class="form-check">
                                <label for="{{ form.is_vendor.id_for_label }}" class="form-check-label">
                                    {{ form.is_vendor }} Vendor
                                </label>
                            </div>
                        </div>
                        
                        <div style="text-align:center;">
                            <button class="log_btn" type="submit">SignUp</button>
                        </div>
                        
                        <p>Already have an account? <a href="{% url 'app_common:login' %}"><b>Login</b></a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}